# Dependencies
node_modules/

# Build
dist/
build/
dist-ssr/

frontend/dist/
backend/dist/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example

# Coverage
coverage/
.nyc_output/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
.temp/
.tmp/

# Runtime
pids
*.pid
*.seed
*.pid.lock